.navbar__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  font-family: Ledger, 'Times New Roman', Times, serif;
}

.navbar__link-wrapper {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar__nav-logo {
  text-decoration: dotted;
  color: black;
  user-select: none;
  font-size: 4.8vw;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

.navbar__nav-logo:visited {
  color: black;
}

.navbar__nav-link {
  position: relative;
  text-decoration: none;
  color: black;
  user-select: none;
}

.navbar__nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar__nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar__nav-link:visited {
  color: black;
}

.navbar__menu-btn {
  display: none;
}

@media (max-width: 35em) {
  .navbar__nav-link {
    font-size: 0.9rem;
  }

  .navbar__link-wrapper {
    flex-direction: column;
    padding-top: min(30vh, 8em);
    position: fixed;
    inset: 0 0 0 40%;
    background-color: rgba(200, 200, 200, 0.9);
    margin: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 100;
  }

  .navbar__menu-btn {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2em;
    aspect-ratio: 1;
    border: none;
    background-size: contain;
    z-index: 9999;
    background: transparent;
  }

  .navbar__nav-logo {
    font-size: min(5vw, 2em);
  }

  [data-visible='true'] {
    transform: translateX(0);
    transition: all 0.3s;
  }
}

@media (min-width: 35em) {
  .navbar__nav-wrapper {
    align-items: center;
    padding: 1em 2em;
  }

  .navbar__link-wrapper {
    gap: 2rem;
  }
}

@media (min-width: 65em) {
  .navbar__nav-logo {
    font-size: 2.5vw;
  }

  .navbar__link-wrapper {
    gap: 3rem;
  }
}
