@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
	/* background-color: #1c1c21; */
	font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
	min-width: 0;
}

.h-fill-available {
	height: -webkit-fill-available;
}

a {
	all: unset;
}

.btn {
	padding: 0.5rem 0.75rem;
	border-radius: 8px;
}
